.login{
  display: flex;
  align-items: center;
  justify-content: center;
}

header.masthead .intro-text{
  margin-top: -100px;
}

.card{
  margin: 5px;
}

.img-bank{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
